
#i-choose-you {
  color: blue;
}

.fa-wheelchair-alt {
  height: 25px;
  width: 25px;
  color: goldenrod;
}

.fa-user {
  height: 25px;
  width: 25px;
  color: rgb(231, 149, 164);
}

.booking-div {
  background-color: rgba(0,0,0,0.7);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#front-screen{
  margin: 10px;
  padding: 10px;
  background-color: grey;
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
}

.premium-rows .fa-user {
  color: rgb(154, 68, 83);
}


.empty {
  color: transparent;
  width: 25px;
}

#board{
  margin: 0 auto;
  height: 300px;
  width: 550px;
  padding-top: 20px;
  top: 10%;
  position: relative;
  text-align: center;
}

#submit-btn{
    background: rgb(207, 73, 202);
    margin: 20px;
}


.message-board {
  text-align: center;
  color:white;
}


#conference-address {
  padding-top: 20px;
  padding-left:50px;
  padding-right: 50px;
  padding-bottom: 30px;
}

#map-direction-input {
  padding-top: 20px;
  padding-left:50px;
  padding-right: 50px;
  padding-bottom: 30px;
}

#map {
  background-color: brown;
  flex: 2;
  padding-left: 50px;
  padding-right:50px;
  padding-bottom:10px;
  height: 250px;
  width: 300px;
  /*float:right;*/
}

#map-direction {
  background-color: brown;
  flex: 2;
  height: 400px;
  width: 500px;
  float: right;
}

#output {
  color: white;
  position:relative;
  top: 450px;
  left: 360px;
  font-size: 18px;
}

#map-direction{
  top: 55px;
  right: 33%;
}

.booking-row {
  display: flex;
  height: 25px;
  width: 550px;
}

.column {
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 25px;
}

#ticket-price {
  margin: 0;
  color: white;
}

#ticket-count {
  margin: 0;
  color:white;
}
