/*// Place all the styles related to the presenters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

table, tbody, td, th {
  margin: 5px;
  padding: 3px;
  border: 1px solid grey;
}
