.testimonial-content p{
  font-size: 45px;
  color: #5900b9;
	font-weight: 200;
	margin-bottom: 40px;
	line-height: 1.2em;
	letter-spacing: 1px;

}
.block {
  display: flex;
  justify-content: center;
  flex-flow: column;
  width: 100%;
  height: 700px;
  margin: 80px auto;
  position: absolute;
  z-index: 2;
}

.block div{
  display: flex;
  justify-content: center;
}

.project-p{
  font-size: 18px;
  padding: 0 60px;
  width: 1130px;
  position: absolute;
  bottom: 100px;
  z-index: 5;
  text-align: center;
  margin: 45px 0;
}

.on {
    opacity: 1;
}



.project-into-text{
  width: 100%;
  opacity: 0;
  font-size: 20px;
  padding: 0 100px;
  line-height: 30px;
  text-align: center;
}

.project-into-text div{
  width: 100%;
  line-height: 0;
}

.pic {
  text-align: center;
  display: flex;
  flex-flow: column;
  margin: 0 20px 30px 20px;
  opacity: 0;
}

.pic p{
margin:20px;
font-size: 20px;
font-weight: bolder;
}

/*for CSS animation hover target*/
.block:hover .pic {
  opacity: 1;
  transform: translateY(-15px);
}


.pic1 {
  transition: all .3s ease-in-out;
}

.pic2{
  transition: all .3s ease-in-out .2s;
}

.pic3 {
  transition: all .3s ease-in-out .4s;
}

.project-into-text {
  transition: all .3s ease-in-out .6s;
}

/*for jquery animation hover target*/
.slider div{
    transition: all 1s ease-in-out;
}


.project-content-layers {
    position: relative;
    margin: 0 auto;
    padding: 0;
}





/*RESPONSIVE STUFF*/
@media (max-width: 768px) {

  .project-into-text{
    opacity: 1;
    font-size: 10px;
    padding: 0 20px;
    line-height: 10px;
    text-align: center;
  }

  .block h3{
    font-size: 16px;
    padding: 0 20px;
    line-height: 0px;
    text-align: center;
  }

  .pic div img{
    width: 100px;
    height: 100px;
  }

  .pic{
    margin: 2px 8px 0 8px;
  }

  .pic p{
     margin: 5px;
     font-size: 16px;
  }

  .block {
    height: 100%;
    padding: 0;
    width: auto;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    /*border: 1px solid red;*/
  }

  .theteam {
    margin-bottom:5px;
    }

    .pic {
      text-align: center;
      display: flex;
      flex-flow: column;
      margin: 0 20px 30px 20px;
      opacity: 1;
    }

    .block:hover .pic {
      opacity: 1;
      transform: translateY(0);
    }
    .fade {
        opacity: 1;
    }

}

#projectcontainer {
  display: block;
  height: 5000px;
}
