
.block{
  position: absolute;
  z-index: 3;
  background: blue;
  width:100%;
  height: 100%;
  opacity: 0;
}

.text-animation {
    font-size: 100px;
    opacity: 0;
    transition: all .2s ease-in-out;
    color: black;
}
.on {
    opacity: 1;
}
.fade {
    opacity: .4;
}
.text-animation {
  text-align: center;
    margin: 0 auto;
    top: 10%;
    position: absolute;
    z-index: 2;
}

.text-animation .p1 {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
}

.text-animation .p2 {
  text-align: center;
  font-size: 50px;
  font-weight: 800;
}


.project-content-layers {
    position: relative;
    margin: 0 auto;
    padding: 0;
    /*border: 2px solid red;*/
}

.slider div{
    transition: all .2s ease-in-out;
}

.project-p{
  padding: 0 30px  ;
  width: 1130px;
  position: absolute;
  bottom: 20px;
  z-index: 5;
  text-align: center;
  margin: 45px 0;
}



/* slick overrides */
.slider {
    position: absolute;
    z-index: 0;
    width: 100%;
    margin: 50px auto;

}
.slick-slide {
    margin: 0;
}
.slick-slide img {
    width: 100%;
}
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 30px;
    height: 30px;
    padding: 0;
    margin-top: -10px\9; /*lte IE 8*/
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 30px;
    line-height: 1;

    opacity: .75;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
	z-index:100;
    left: -45px;

}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -45px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}
