<section>
  <div class="section well book-now-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <br>
          <h3 class="conference-info-text" style="margin: 0 100px 20px 100px; color: #5900b9;">Throw caution to the wind and purchase a ticket, post haste. Seriously. You want us to cut you?</h3>
          <button type="button" class="btn btn-primary btn-lg"  data-toggle="modal" data-target="#myModal" style="width: 400px; height: 60px; font-size:26px;">BOOK NOW</button>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</section>
