<section>
  <hr>
  <div class="container">
    <div class="row">
      <div id="map-direction-input" class="col-xs-6 col-md-4">
        <p>Lost? Input your address here to do a quick direction search!</p>
        <input type="text" placeholder = "address">
        <input type="text" placeholder = "suburb" value="VIC">
        <a href="#" id="submit" data-toggle="modal" data-target=".bs-example-modal-sm">Get Me There!</a>
      </div>

      <div id="conference-address" class="col-xs-6 col-md-4">
        <p><strong>Location</strong>: General Assembly</p>
        <p><strong>Address</strong>: 12a/45 William St, Melbourne VIC 3000</p>
        <p><strong>Phone</strong>:(03) 8592 7303</p>
      </div>

      <div id="map" class="col-xs-6 col-md-4">

      </div>
    </div>

  </div>
</section>
