<section class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">

  <div id="map">

  </div>

  <div id="output"></div>
<!-- route to google map api
</li>
<input type="text" placeholder = "address">
<input type="text" placeholder = "suburb" value="VIC">
<li><a href="#" id="submit" data-toggle="modal" data-target=".bs-example-modal-sm">Google Location</a></li> -->

</section>
