<section>
  <div id="map-directions" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div id="map-direction">
    </div>
    <h1 id="output"></div>
  </div>

</section>
