<section>
  <hr>
  <div class="container" id="location">
    <div class="row">
      <div id="map-direction-input" class="col-xs-6 col-md-4 form-group">
        <h3>Lost?</h3>
        <p>Input your address here to do a quick direction search!</p>
        <input type="text" placeholder = "address"><br>
        <input type="text" placeholder = "suburb" value="VIC"><br><br>
        <a class="button" href="#" id="submit" data-toggle="modal" data-target=".bs-example-modal-sm"><button class="btn btn-default">Get Me There!</button></a>
      </div>

      <div id="conference-address" class="col-xs-6 col-md-4">
        <h3>Location</h3>
        <p><strong>Location</strong>: General Assembly</p>
        <p><strong>Address</strong>: 12a/45 William St, Melbourne VIC 3000</p>
        <p><strong>Phone</strong>:(03) 8592 7303</p>
      </div>

      <div id="map" class="col-xs-6 col-md-4">
        <h3>Map</h3>
      </div>
    </div>

  </div>
</section>
