<div class="container">
  <div data-am-gallery="3 next-prev-navigation">

    <!-- Radio -->
    <input type="radio" name="gallery" id="img-1" checked="">
    <input type="radio" name="gallery" id="img-2">
    <input type="radio" name="gallery" id="img-3">

    <!-- Images -->
    <div class="images">
      <div class="image" style="background-image: url(https://s32.postimg.org/j1g9sqew5/cars_dust_roads_drifting_races_jdm_subaru_imprez.jpg);">
        <!-- Add content to images (sample) -->
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; font-family: sans-serif; text-align: center; text-shadow: 0 0 20px rgba(0,0,0,0.5);">
          <h1 style="margin-top: 0; margin-bottom: 0.8vw; font-size: 5vw; font-weight: bold;"></h1>
        </div>
      </div>
      <div class="image" style="background-image: url(https://s32.postimg.org/ybnpcmw9h/600498_475543445860705_1911101340_n.jpg);"></div>
      <div class="image" style="background-image: url(https://s32.postimg.org/vkr8f30g5/image.jpg);"></div>
    </div>

    <!-- Navigation -->
    <div class="navigation">
      <label class="dot" for="img-1"></label>
      <label class="dot" for="img-2"></label>
      <label class="dot" for="img-3"></label>
    </div>

    <!-- Prev next navigation -->
    <div class="prev-container">
      <label class="prev" for="img-1"></label>
      <label class="prev" for="img-2"></label>
      <label class="prev" for="img-3"></label>
    </div>
    <div class="next-container">
      <label class="next" for="img-1"></label>
      <label class="next" for="img-2"></label>
      <label class="next" for="img-3"></label>
    </div>
  </div>
</div>
