<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myDefaultNavbar1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand smoothScroll" href="#sitetop"><%= image_tag("logo") %></a> </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="myDefaultNavbar1">
      <ul class="nav navbar-nav">
        <li><a class="smoothScroll" href="#project1" style="color: #5900b9;">PROJECT: <strong>QUEUER</strong></a></li>
        <li><a class="smoothScroll" href="#project2" style="color: #5900b9;">PROJECT: <strong>PULSE</strong></a></li>
        <li><a class="smoothScroll" href="#speakerprofiles" style="color: #5900b9;">SPEAKER PROFILES</a></li>
        <li><a class="smoothScroll" href="#schedule" style="color: #5900b9;">SCHEDULE</a></li>
        <li><a class="smoothScroll" href="#location" style="color: #5900b9;">LOCATION</a></li>
      </ul>
      <div class="navbar-right row">
            <button type="submit" class="btn btn-primary btn-lg"  data-toggle="modal" data-target="#myModal">BOOK NOW</button>
      </div>
    </div>
  </div>
</nav>
