<section>
    <div class="container">

            <div class="col-lg-12 text-center">
                <h1>Projects</h1>
            </div>
        <hr>
        <div class="project-content-layers">
            <div class="block"></div>
            <div class="text-animation">
                <p class='animated p1'>Test text 1</p>
                <p class='animated p2'>Test text 2</p>
            </div>

            <hr>
            <div class="regular slider">
                <div>
                  <p class="project-p">Cu possim virtute sanctus has, ea quem posse incorrupte vis. In vidit mazim dicunt usu, duis wisi his ea. Usu veniam repudiare no, an his democritum efficiantur, ne sit nisl dicunt alterum. Eu quo semper nostro senserit.

Duo ut inermis epicuri, sed cibo minimum eu, at iudico persecuti duo. Omnis dissentiunt eos ne. Usu no affert commodo omittantur, omnesque dignissim nam et. Has affert omittam te, te illud mediocrem vel. Pri pertinax repudiare no, id nam harum antiopam. Id usu scripta incorrupte assueverit.
</p>
                    <div><img src="http://o00o.com/wdi/queuer_01.png"></div>


                </div>
                <div>
                    <img src="http://placehold.it/1000x450">
                    <br>
                    <P class="project-p">Vis et sumo conceptam inciderint, munere veritus cu vix. Ei eos vivendo temporibus, iusto putent aperiam sed ut. Vel odio erat novum ei, sit dictas nusquam ut. Eu ponderum vituperatoribus mea. Splendide intellegat quo et. Duo omnis accommodare id, id vix quodsi delectus.</P>
                </div>
                <div>
                    <img src="http://placehold.it/1000x450">
                </div>
                <div>
                    <img src="http://placehold.it/1000x450">
                </div>
            </div>
            <hr>
            <br>
        </div>
    </div>
</section>
