<section id="schedule">
    <div class="container">
      <h2 class="text-center">Schedule</h2>
        <div class="diagram">
          <%= image_tag("timetable.png", :class => "img-responsive", :id => "timetable") %>
        </div>
        <div class="wrapper-block">
            <div class="pre-block blc">
                <p class="rotate">INTRO</p>
            </div>
            <div class="project-block1 blc">
                <p>PROJECT 1:</p>
                <div class="project-row">
                    <div class="sched-speaker blc">
                        <p>Jason</p>
                        <p>9:50</p>
                        <p>Mongo / Express</p>
                    </div>
                    <div class="sched-speaker blc">
                        <p>Niall</p>
                        <p>10:50</p>
                        <p>Routes / Moment</p>
                    </div>
                    <div class="sched-speaker blc">
                        <p>Peter</p>
                        <p>11:50</p>
                        <p>Ajax / CSS</p>

                    </div>
                </div>
            </div>
            <div class="mid-block blc">
                <p class="rotate">LUNCH</p>
            </div>
            <div class="project-block2 blc">
                <p>PROJECT 2:</p>
                <div class="project-row">
                    <div class="sched-speaker blc">
                        <p>Joel</p>
                        <p>1:50</p>
                        <p>Some stuff</p>
                    </div>
                    <div class="sched-speaker blc">
                        <p>Will</p>
                        <p>2:50</p>
                        <p>Some stuff</p>
                    </div>
                    <div class="sched-speaker blc">
                        <p>Chris</p>
                        <p>3:50</p>
                        <p>Some stuff</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
