<section>
  <div class="container">
    <h3 class="sponsor-heading">Sponsors</h3>
    <br>
    <img src="http://www.shindiristudio.com/fbuilder/wp-content/uploads/2014/08/envato-logo.png" alt="" width="150" height="150" class="grayscale">
    <img src="https://pbs.twimg.com/profile_images/617988025910468608/lq7h6YQS.png" alt=""  width="150" height="150" class="grayscale">
    <img src="https://d26a57ydsghvgx.cloudfront.net/www/public/assets/images/logos/zendesk144.png" alt="" width="150" height="150" class="grayscale">
    <img src="https://start.99static.com/asimov/images/og-image-1b6536cf.png" alt="" width="150" height="150" class="grayscale">
    <img src="https://appirio.com/wp-content/uploads/2014/05/heroku-logo.png" alt="" width="150" height="150" class="grayscale">
  </div>
</section>
