<section>
  <div class="container">
    <div class="row">
      <h3 class="col-md-12 text-center">Sponspors</h3>
      <br>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"> <img src="http://placehold.it/150x150" alt="" width="150" height="150"> </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"> <img src="http://placehold.it/150x150" alt="" width="150" height="150"> </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"> <img src="http://placehold.it/150x150" alt="" width="150" height="150"> </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"> <img src="http://placehold.it/150x150" alt="" width="150" height="150"> </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"> <img src="http://placehold.it/150x150" alt="" width="150" height="150"> </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"> <img src="http://placehold.it/150x150" alt="" width="150" height="150"> </div>
      <p>&nbsp;</p>
    </div>
  </div>
</section>
