<!-- <section>
  <div class="section well">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1>&nbsp;</h1>
          <h1>&nbsp;</h1>
          <h1>&quot;TESTIMONIALS&quot;</h1>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section>
<div class="testimonial-container">
<div class="dk-container">
  <div class="cd-testimonials-wrapper cd-container">

    <h2 style="color: #ccc;">Testimonials</h2>

    <ul class="cd-testimonials">
      <li>
        <div class="testimonial-content">
          <p>"Unbelievable presentation. Next generation stuff. Need more dragons and shit though."</p>
          <div class="cd-author">
            <img src="http://orig08.deviantart.net/5e82/f/2015/165/e/c/icon_person_by_ninjavdesign-d8x96sl.png">
            <ul class="cd-author-info">
              <li>Yang <strong>Li</strong><br><i>Teacher Assistant</i></li>
              <li></li>
            </ul>
          </div>
        </div>
      </li>

      <li>
        <div class="testimonial-content">
          <p>"I highly recommend it. I can see extensive research has been put into this. More the reason to trust this product."</p>
          <div class="cd-author">
            <img src="http://orig08.deviantart.net/5e82/f/2015/165/e/c/icon_person_by_ninjavdesign-d8x96sl.png">
            <ul class="cd-author-info">
              <li>Stephen <strong>Koo</strong><br><i>Entrepreneur</i></li>
              <li></li>
            </ul>
          </div>
        </div>
      </li>

      <li>
        <div class="testimonial-content">
          <p>"Absolutely Fantastic"</p>
          <div class="cd-author">
            <img src="http://orig08.deviantart.net/5e82/f/2015/165/e/c/icon_person_by_ninjavdesign-d8x96sl.png">
            <ul class="cd-author-info">
              <li>Mark <strong>Cronje</strong><i><br>Sales Director</i></li>
              <li></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>
</div>
</section>
